<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container mt-5">
    <h3 class="text-center mb-4">User Registration</h3>
    
    <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-wrapper">
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" required #usernameField="ngModel">
          <i class="fas fa-user input-icon"></i>
        </div>
        <div *ngIf="usernameField.invalid && usernameField.touched" class="text-danger">
          Username is required.
        </div>
      </div>
  
      <div class="form-group mt-3">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" [(ngModel)]="password" name="password" required #passwordField="ngModel">
          <i class="fas fa-eye input-icon" (click)="togglePasswordVisibility()"></i>
        </div>
        <div *ngIf="passwordField.invalid && passwordField.touched" class="text-danger">
          Password is required.
        </div>
      </div>
      
  
      <div class="form-group mt-3">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-wrapper">
          <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required #confirmPasswordField="ngModel">
          <i class="fas fa-eye input-icon" (click)="togglePasswordVisibility()"></i>
        </div>
        <div *ngIf="confirmPasswordField.invalid && confirmPasswordField.touched" class="text-danger">
          Please confirm your password.
        </div>
        <div *ngIf="password && confirmPassword && password !== confirmPassword" class="text-danger">
          Passwords do not match.
        </div>
      </div>
      
  
      <div class="form-group mt-3">
        <label for="role">Select Role</label>
        <select class="form-control" id="role" [(ngModel)]="role" name="role" required>
          <option value="admin">Admin</option>
          <option value="doctor">Doctor</option>
          <option value="nurse">Nurse</option>
          <option value="receptionist">Receptionist</option>
          <option value="pharmacist">Pharmacist</option>
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary mt-3" [disabled]="signupForm.invalid || password !== confirmPassword">
        Register
      </button>
    </form>
  </div>
  